
<header>
  <p>
    <mat-toolbar color="primary">     
      <span role="navigation" aria-label="Primary">Katalog napak
        <a mat-flat-button color="primary" routerLink='/home' routerLinkActive="router-link-active"><span>KATALOG</span></a>
        <a mat-flat-button color="primary" routerLink="/success-criteria" routerLinkActive="router-link-active" ><span>WCAG POGOJI</span></a>
      </span>
      <span class="spacer"></span>
      <span class="username">
        placeholder for username
      </span>
      <button mat-icon-button class="example-icon" aria-label="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</header>

<footer>

</footer>

<router-outlet></router-outlet>
