<div class="container">
    <form class="form" >
        <mat-form-field>
            <mat-label>Uporabniško ime</mat-label>
            <input matInput name="username" [(ngModel)]="user.username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Geslo</mat-label>
            <input matInput name="password" [(ngModel)]="user.password">
        </mat-form-field>
        <button mat-button type="button" (click)="register(user)">REGISTRIRAJ SE</button>
        <button mat-flat-button type="submit" (click)="login(user)" color="primary">VPIŠI SE</button>
    </form>
</div>